@font-face {
    font-family: blowbrush;
    src: url("fonts/blowbrush.ttf");
}

/*      Resets    */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: white;
    display: flex;
    flex-flow: row;
    font: 22px/1 'Titillium Web';
    justify-content: flex-end;
    margin: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
    text-shadow: 1px 2px 5px rgba(0,0,0,.5);
}

article,
footer,
nav,
main,
section,
ul
{
    display: inherit;
    flex-flow: column wrap;
}

header {
    display: none;
}

footer,
section {
    min-height: 100vh;
    justify-content: space-between;
}

h1,
h2,
h3,
h4,
p,
ol,
ul
 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: blowbrush, sans-serif;
    letter-spacing: .05em;
}

li {
    display: block;
}

strong {
    font-weight: bold;
}

a,
button {
    color: inherit;
    transition: .3s;
}

a {
    text-decoration: none;
}

button {
    -webkit-font-smoothing: inherit;
    background: none;
    border: 0;
    cursor: pointer;
    font: inherit;
    letter-spacing: inherit;
    overflow: visible;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

img {
    border: 0;
    height: auto;
    max-width: 100%;
}



/*      Typography      */

h1 {
    font-size: 4em;
}

h2, h3 {
    color: rgb(241, 137, 33);
    font-size: 2em;
}

h3 {
    font-family: 'Titillium Web', Helvetica, Arial, sans-serif
}

h3, h4, p {
    text-align: center;
}

h4 {
    color: rgb(215, 254, 251);
    font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
}

@media all and (max-width: 900px){
    h1 {
        font-size: 2.5em; 
    }

    h2, h3 {
        font-size: 1.3em;
    }

    h4 {
        font-size: 1em;
    }
}


article {
    align-content: center;
    justify-content: center;
}

article p {
    margin: 7px 0;
}

@media all and (min-width: 900px){
    article.left p,
    article.right p {
        max-width: 50%;
    }

    article.left {
        align-items: flex-start;
    }
    
    article.right {
        align-items: flex-end;
    }
}


@media all and (max-width: 900px) {
    header {
        background-color: rgba(0,0,0,.6);
        display: flex;
        flex-flow: column;
        height: 170px;
        justify-content: center;
        position: fixed;
        margin-top: -170px;
        transition: margin .4s ease-in-out;
        width: 100%;
        z-index: 500;
    }

    header #responsive-navigation {
        align-items: center;
        justify-content: space-around;
    }
    
    header #responsive-navigation li.active {
        color: rgb(241, 137, 33);
    }
}


nav {
    align-content: center;
    background-color: rgba(0, 0, 0, .75);
    height: 100%;
    justify-content: space-between;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    transition: width .2s ease-in-out;
    width: 0;
    white-space: nowrap;
}

nav ul {
    margin-right: 10px;
    margin-top: 5px;
}

nav li {
    margin: 5px 5px;
    text-align: left;
}

@media (hover: hover) {
    li:hover {
        color: rgb(241, 137, 33);
    }
}

nav .social-links {
    align-items: flex-end;
    flex-flow: row;
    justify-content: center;
    padding-bottom: 15px;
}

@media all and (max-width: 899px){
    nav {
        display: none;
    }
}

main {
    box-shadow: -3px 0px 4px rgba(0,0,0,.3);
    position: relative;
    scroll-behavior: smooth;
    transition: width .2s ease-in-out;
    width: 100%;
}




/*IDS*/


#home {        
    background-image: url("images/home1.jpeg");
    background-position: 53% 90%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    padding: 0 50px;
}

#home-logo {
    align-self: center;
    filter: drop-shadow(1px 2px 5px rgba(0, 0, 0, 0.43));
    margin-top: 50px;
    width: 175px;
}


#main-navigation {
    margin-top: 80px
}

#main-navigation li {
    border-right: 3px solid rgb(241, 137, 33);
    padding-left: 10px;
}

#main-navigation li.active {
    border-color: rgb(0, 90, 145) !important;
}

#menu-trigger {
    background: rgba(0,0,0,.4);
    border-radius: 3px;
    height: 30px;
    left: 10px;
    position: fixed;
    top: 10px;
    width: 33px;
    z-index: 1000;
}

#menu-trigger:active {
    color: rgba(0, 0, 0, .5);
}

#o-nama {
    background-image: url("images/o-nama.jpg");
    background-position: 46% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#o-nama article {
    background-color: rgba(0,0,0,.35);
    min-height: 200px;
    padding: 6px;
}

#usluge {
    flex-flow: column;
    justify-content: center;
    padding-bottom: 20px;
}

#usluge .heading-container{
    box-shadow: initial;
}

#promidzba {
    background-image: url("images/promidzba.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#marketing {
    background-image: url("images/marketing.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#edukacija {
    background-image: url("images/edukacija.jpg");
    background-position: 30% 35%;
    background-repeat: no-repeat;
    background-size: cover;
}


footer {
    background-image: url("images/footer.jpg");
    background-position: 40% 30%;
    background-size: cover;
}

#kontakt {
    background-color: rgba(0,0,0,.6);
    display: flex;
    flex-flow: column;
    min-height: 100px;
}

#info {
    display: flex;
    flex-flow: row wrap;
}

#kontakt p {
    margin-bottom: 15px;
}

#kontakt ul {
    align-self: center;
    flex-flow: row;
}

@media all and (max-width: 900px)
{
    #info {
        flex-flow: column;
    }
}
/*Utility*/

.circle-frame {
    background-color: rgba(0,0,0,.4);
    border-radius: 350px;
    height: 350px;
    width: 350px;
}

.circle-frame h3 {
    margin-top: 100px;
    font-size: 1.8em;
}

.heading {
    padding: 5px;
}

.heading + p {
    padding-top: 10px;
}

.heading.heading-left,
.heading-left + p {
    margin-left: 40px;
    text-align: left;
}

.heading.heading-right,
.heading-right + p {
    margin-right: 40px;
    text-align: right;
}

.heading.heading-center {
    margin: 0;
    text-align: center;
}

.heading h1 + .border {
    background-color: rgb(22, 150, 49);
    border-radius: 2px;
    box-shadow: 1px 3px 8px rgba(0,0,0,.15);
    height: 5px;
    width: 152px;
}

.heading-center h1 + .border {
    margin: 0 auto;
}

.heading-container {
    align-items: center;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0), inset 0px -3px 18px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-flow: row;
    height: 150px;
}

.heading-container.left {
    justify-content: flex-start;
}

.heading-container.right{
    justify-content: flex-end;
}

.heading-left h1 + .border {
    margin-right: auto;
}

.heading-right h1 + .border {
    margin-left: auto;
}

@media all and (max-width: 900px) {
    .heading.heading-left,
    .heading.heading-right,
    .heading.heading-left + p,
    .heading.heading-right + p {
        margin: 0 auto;
        text-align: center;
    }

    .heading.heading-left .border,
    .heading.heading-right .border {
        margin: 0 auto;
        position: static;
    }
}


.item {
    flex-grow: 1;
}

.item.i-2 {
    flex-basis: 50% !important;
}

.item.i-3 {
    flex-basis: 33% !important;
}

.item.i-4 {
    flex-basis: 25% !important;
}

.item.i-23 {
    flex-basis: 66% !important;
}

.item.i-34 {
    flex-basis: 75% !important;
}

.logo-container {
    align-content: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.separator.narrow {
    height: 70px;
    box-shadow: 0px -3px 18px rgba(0,0,0,0.35);
}

.separator.wide {
    height: 150px;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0), inset 0px -3px 18px rgba(0, 0, 0, 0.3);
}

.separator.thin {
    height: 4px;
    box-shadow: 0px -3px 14px rgba(0,0,0,.3);
}


.showcase {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-right: 10px;
}

.showcase .showcase-element {
    background-color: rgb(255, 249, 230);
    box-shadow: 1px 3px 18px 0px rgba(0,0,0,0.4);
    height: 30%;
    margin: 10px 0 10px 10px;
    overflow: hidden;
    padding-top: 70%;
    text-align: center;
    transition: all .4s ease-in-out;
}

.showcase .showcase-element .showcase-content {
    background-color: rgba(0,0,0,.4);
    border-top: 3px solid rgb(241, 137, 33);
    height: 100%;
    transition: all .4s ease-out;
}

.showcase .showcase-element .showcase-content .circle-frame {
    background-color: rgb(241, 137, 33);
    border-radius: 50px;
    height: 100px;
    margin: -50px auto 0;
    transition: all .4s ease;
    width: 100px;
}

.showcase .showcase-element .showcase-content .circle-frame i {
    margin-top: 12.5px;
}

.social-links {
    align-items: center;
    flex-flow: row;
    justify-content: center;
    margin: 10px 0;
}

.social-links li {
    padding: 0 10px;
}

@media all and (max-width: 900px) {
    .showcase {
        flex-flow: column;
    }

    .showcase .showcase-element,
     {
        height: 250px;
        margin: 10px 0 10px 10px;
        padding-top: 250px;
    }
}

/*Colors*/

.bright {
    background-color: rgb(255, 249, 230) !important;
}

.dark {
    background-color: rgb(22, 134, 30) !important;
}

.fizzy {
    background-color: rgb(242, 250, 100) !important;
}

.mono {
    background-color: rgb(250, 245, 238) !important;
}

.vibrant {
    background-color: rgb(235, 254, 251) !important;
}

.theme-vibrant {
    background-color: rgb(241, 137, 33) !important;
}

.theme-calm {
    background-color: rgb(0, 90, 145) !important;
}


.text-bright {
    color: rgb(255, 238, 176) !important;
}

.text-dark {
    color: rgb(80, 215, 90) !important;
}

.text-mono {
    color: rgb(250, 245, 238) !important;
}

.text-vibrant {
    color: rgb(215, 254, 251);
}

.text-theme-vibrant {
    color: rgb(241, 137, 33) !important;
}

.text-theme-calm {
    color: rgb(0, 90, 145)
}